/*Unicode pound sign - &#163 */

* {
  box-sizing: border-box;
}

/*font*/
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

.responsive {
    width: 100%;
    height: auto;
    display: block;
  }

.col-3 {width: 25%;}
.col-9 {width: 75%;}

#logo{
  border-radius: 50%;
}

#category{
  border-radius: 10%;
}

ul {
    list-style-type:none;
  }
  


/*button*/
.div-button {
  margin-top: 20px; 
  margin-left: 10px;
}

#cat-button{
  margin-top:0;
  width:100%;
  border-radius: 30px;
  background-color: #b77a7a;
  border-color: #b77a7a;
  align-items: center;
}

#cat-button:hover{
  background-color: #483f3f;
  border-color: #483f3f;
}

.btn{
  margin:5px 0;
}

#btnFullWidth{
  width:100%;
}


#round{
  border-radius: 50px;
}

input{
  text-align: center;
}

#bg {
  background-color: rgb(219, 188, 177);
  font-family: "Arvo", serif;
}

#bgNone{
  background-color: white;
}

#icon{
  width:50px;
  height:auto;
  margin: 0 20px 20px 0;

}

#SubsPhoto{
  margin: 75px 10px;
  width:95%;
  height: auto;
}

#SubsBoxSet{
  margin:20px;
  padding:10px;
}

#SubsContent{
  padding:20px;
  background-color: #d9a4a4;
}




#intro{
  padding:20px 10px 0px 10px;
  margin: 20px 10px 0px 10px;;
}


.link {
  text-decoration: none;
  color:inherit;
}

#cardSpace{
  margin:20px;
}

/*form*/
#form{
  margin:50px;
  padding: 20px;
  background-color: #c89f97;
  border-radius: 30px;
}

::placeholder{
  text-align: left;
}

#imgStyle{
  border-radius:150px;
  margin-left: 100px;
}

/*Gallery*/
.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh;
  margin-inline: auto;
  max-width: 40rem;
  background: #b77a7a;
  padding: 1vh;
}

.gallery > img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.3s ease;
}

.gallery:has(img:hover) img:not(:hover) {
  scale: 0.8;
  opacity: 0.5;
  filter: grayscale(70%);
}

/* top navigation */
.topnav {
  background-color: #b77a7a;
  overflow: hidden;
  width:100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* nav bar - home button */
.topnav a.active {
  background-color: #898580;
  color: white;
  margin:0px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



/*---------------------nav bar with responsive hamburger icon----------------------------------*/

/* When the screen is less than 770pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 770px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 770px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


